<div class="contenedorRL">
<h2>{{cotizacion.titulo}}</h2>
<br>

<p>Cliente:{{cliente.username}}</p><br>
<p>Telefono:{{cliente.phoneNumber}}</p><br>
<p>Email:{{cliente.email}}</p>
<br><br><br>
<p>Trabajador: {{worker.username}}</p>
<h3>Contenido</h3>
<p>{{cotizacion.content}}</p>
<br>
<p>Precio:{{cotizacion.precio}}</p>
<br>
<p>Fecha de atención:{{cotizacion.dateService}}</p>

<a href="/auth/detail{{inicial}}/{{idd}}">Regresar</a>

</div>