<div class="contenedorTrab">
<h2 id="ti">Electricistas cerca de ti</h2>

{{#each elec}}
    <div class="card">
    <h3>{{this.username}}</h3><br>
    <img src="{{this.photoUrl}}" alt="imagen" width="200px"><br>
    <p>Calificación</p>
    <span>{{this.rating}}</span>
    <h4>Trabajos realizados</h4>
    {{#each peticiones}}
    <p>{{this.titulo}}</p>
    {{/each}}
    <a href="/auth/peticion/{{this._id}}">Realizarle una peticion</a>
    </div>
{{/each}}

<a href="/auth/logout">Cerrar Sesion</a>
</div>