<div class="contenedorRL">
<h2>{{peticion.titulo}}</h2>
<br>
{{#if peticion.status}}
<p>Status: Petición Revisada por trabajador</p>
{{else}}
<p>Status: Petición a revisar por trabajador</p>
{{/if}}
<p>Trabajador:{{worker.username}}</p><br>
<p>Telefono:{{worker.phoneNumber}}</p><br>
<p>Email:{{worker.email}}</p>
<br><br><br>
<p>Cliente: {{cliente.username}}</p>
<h3>Contenido</h3>
<p>{{peticion.content}}</p>
<img src="{{peticion.imgURL}}" alt="imagen" width="200">
<br>
<a href="/auth/detail{{inicial}}/{{idd}}">Regresar</a>

</div>