<div class="contenedorTrab">
<h2 id="ti">Plomeros cerca de ti</h2>

{{#each plom}}
    <div class="card">
    <h3>{{this.username}}</h3><br>
    <img src="{{this.photoUrl}}" alt="imagen" width="200px"><br>
    <p>Calificacion</p>
    <span>{{this.rating}}</span>
    <h4>Trabajos realizados</h4>
    {{#each peticiones}}
    <p>{{this.titulo}}</p>
    {{/each}}
    <a href="/auth/peticion/{{this._id}}">Realizarle una peticion</a>
    </div>
{{/each}}
<input type="hidden" name="ventana" id="geo" placeholder="Ingresa una locación">
<input type="hidden" name="lat" id="lat"  value="{{cliente.location.coordinates.[1]}}">
  <input type="hidden" name="lng" id="lng"  value="{{cliente.location.coordinates.[0]}}">
<div style="width:400px;height:400px;margin:10px auto" id="map"></div>
<a href="/auth/logout">Cerrar Sesion</a>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0iBJ86eZUGkhbuWhS7b4_B3-8cRYQgTQ&libraries=places"></script>
<script>
 
  const markers = []
  function startMap() {
    const map = new google.maps.Map(document.getElementById('map'), {
      
      center: {
        lat: Number(document.querySelector('#lat').value),
        lng: Number(document.querySelector('#lng').value)
      },
      zoom: 10
    });
    
    navigator.geolocation.getCurrentPosition(function (position) {
      const center = {
        lat: Number(document.querySelector('#lat').value),
        lng: Number(document.querySelector('#lng').value)
      }
      const myMarker = new google.maps.Marker({
        position: center,
        map: map,
        title: "I'm here",
        label:{
            color: 'orange',
    fontWeight: 'bold',
    text: 'Yo',
        }
      });
    })
    var input = document.querySelector('#geo')
    var autocomplete = new google.maps.places.Autocomplete(input);
    autocomplete.bindTo('bounds', map);
    autocomplete.addListener('place_changed', function () {
      console.log(autocomplete.getPlace())
      var lat = autocomplete.getPlace().geometry.location.lat()
      var lng = autocomplete.getPlace().geometry.location.lng()
      map.setCenter({
        lat: lat,
        lng: lng
      })
      document.querySelector('#lat').value = lat
      document.querySelector('#lng').value = lng
    })
    function getPlom() {
   axios.get("/auth/papi")
    .then( response => {
      placePlom(response.data.users);
    })
    .catch(error => {
      console.log(error);
    })
  }
  function placePlom(ploms){
    ploms.forEach(function(plom){
      const center = {
        lat: Number(plom.location.coordinates[1]),
        lng: Number(plom.location.coordinates[0])
      };
      const nombre = plom.username
      const pin = new google.maps.Marker({
        position: center,
        map: map,
        title: plom.username,
        label:{
            color: 'orange',
            fontWeight: 'bold',
           text: nombre,
        }
      });
      markers.push(pin);
      
    });
    console.log(markers)
}
const center = {
        lat: Number(document.querySelector('#lat').value),
        lng: Number(document.querySelector('#lng').value)
      }
var cityCircle = new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: '#FF0000',
            fillOpacity: 0.35,
            map: map,
            center: center,
            radius: 3000
          });
getPlom();
  }
  


  startMap()
</script>